page-login {

    .background-login{
        background: url("../assets/imgs/tela003_background.jpg") no-repeat center center fixed; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        background-size: contain;
    }

}
